<h2 class="header-title">Chat Basic</h2>

<div class="new-user">
  <span>Escriba su nombre para unirse al chat</span>
  <div>
    <input class="form-control" type="text" name="user" [(ngModel)]="userNew" [disabled]="user" id="user" placeholder="Escriba su nombre">
    <button class="btn primary" (click)="addNewUser()" [disabled]="user">Unirme</button>
  </div>
</div>

<div class="chat">
  <div class="user-con">
    <ul>
      <ng-container *ngFor="let name of users">
        <li *ngIf="isSame(name)"
          (click)="selectChat(name)">{{name}}</li>
      </ng-container>
    </ul>
  </div>
  <div class="chat-user">
    <ng-container *ngIf="currencyRoom">
      <div class="header">
        <div class="user-icon"><i class="fa fa-user"></i></div>
        <span class="user-name">{{currencyRoom.userRoom}}</span>
      </div>
      <div class="body">
        <ng-container *ngFor="let msj of messages">
          <div class="msj-left" [ngClass]="{'msj-left': msj.user !== user, 'msj-rigth': msj.user === user}">
            <span class="msj">{{msj.message}}</span>
          </div>
        </ng-container>
      </div>
      <div class="footer">
        <textarea
          [(ngModel)]="msj"
          class="form-control mensajeSend"
          placeholder="Escribir mensaje..."></textarea>
        <button
          class="btn circle success"
          title="Enviar"
          [disabled]="!msj.length"
          (click)="sendMessage()"><i class="fa fa-send"></i></button>
      </div>
    </ng-container>
    <div class="chat-empty" *ngIf="!currencyRoom">
      <span>Debe seleccionar un contacto</span>
    </div>
  </div>
</div>