<h2 class="header-title">Chat Basic</h2>

<div class="new-user">
  <span>Escriba su nombre para unirse al chat</span>
  <input class="form-control" type="text" name="user" id="user" placeholder="Escriba su nombre">
  <button class="btn primary">Unirme</button>
</div>

<div class="chat">
  <div class="user-con">
    <ul>
      <li>Luis</li>
      <li>Jose</li>
      <li>Carmen</li>
      <li>Maria</li>
    </ul>
  </div>
  <div class="chat-user">
    <div class="header">
      <div class="user-icon"><i class="fa fa-user"></i></div>
      <span class="user-name">Felipe</span>
    </div>
    <div class="body">
      <div class="msj-left">
        <span class="msj">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, nesciunt inventore asperiores praesentium laborum maiores ea perferendis odit et, id officia? Laborum, ipsa aut dignissimos quas alias voluptate molestias reiciendis.</span>
      </div>
      <div class="msj-rigth">
        <span class="msj">Lorem ipsum dolor sit amet </span>
      </div>
    </div>
    <div class="footer">
      <textarea name="msj" id="msj" class="form-control mensajeSend" placeholder="Escribir mensaje..."></textarea>
      <button class="btn circle success" title="Enviar" [disabled]="true"><i class="fa fa-send"></i></button>
    </div>
  </div>
</div>